.header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .tools {
        align-items: center;
        display: flex;
        justify-content: space-between;   
    }
}


