// Mapa de variables de tamaños

html {
  font-size: 62.5%;
}

 $fontsize: (
    "font-xs": .8,
    "font-s": 1.2,
    "font-m": 1.6,
    "font-l": 2.4,
    "font-xl": 3.2,
    "font-xxl": 4.8,
  );

// Selectors de clases basado en la variable

  @each $size, $value-size in $fontsize {
    .#{$size} {
      font-size: $value-size * 1rem;
    }
  }

// función para definir tamaños en selectores.

  @function f($value-size) {
    @return map-get($fontsize, $value-size) * 1rem;
  }


// Tamaño personalizado

  @mixin font ($fontSize, $fontWeight) {
    font: {
        family: 'Open Sans', sans-serif;
        size: $fontSize;
        weight: $fontWeight;
    }
  }

 