.btn-nav {
    align-items: center;
    background-color: lighten($primary-red, 10%);
    color: $primary-red;
    cursor: pointer;
    display: flex;
    font-size: f('font-s');
    height: 3.0rem;
    justify-content: center;
    width: 3.0rem;

    &:hover {
        background-color: darken($primary-red, 10%);
    }

    @include respond-to('medium') {
        color: lighten($primary-red, 20%);
        height: 5.0rem;
        width: 5.0rem;
        
    }

    @include respond-to('large') {
        color: lighten($primary-red, 30%);
    }

    @include respond-to('huge') {
        color: lighten($primary-red, 40%);
    }
}